
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(148, 41, 41),;

}

h2{
    text-align: center;

}

form{
    width: 350px;
    margin: 50px auto;
    background: rgb(56, 112, 30);
    padding: 20px;
    border-radius: 8px;

}

input[type="text"]
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;

}

input[type="submit"] {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: rgb(18, 41, 117);
    color: rgb(148, 27, 118);
    border: none;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: rgb(10, 106, 10);
}
.success{
    color: rgb(132, 25, 190);
    text-align: center;
}
.error{
    color: rgb(35, 3, 3);
    text-align: center;
}

