body {
    font-family: Arial, sans-serif;
    background-color: rgba(244, 246, 249, 1);
    margin: 0;
    padding: 0;
}

#links{
    width: 95%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px;
    padding: 0px 20px;
    z-index: 1000;

}

#links a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;

}

form {
    background: rgba(255, 255, 255, 1);
    width: 350px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: rgba(51, 51, 51, 1);
}

label {
    display: block;
    margin-top: 15px;
    color: rgba(85, 85, 85, 1);
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid rgba(170, 170, 170, 1);
    border-radius: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: rgba(52, 152, 219, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgba(41, 128, 185, 1);
}

p {
    text-align: center;
    font-weight: bold;
}
