body{
    margin:0;
    background-color: rgb(122, 69, 69);
}
header{
    background-color: rgb(43, 47, 87);
    color: white;
    display: flex;
    align-items: center;
}
h2{
    padding-right: 70%;
}

#btn1{
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    color: white;
    background: rgb(75, 82, 230);
}

#btn2{
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    color: white;
    background: rgb(55, 224, 72);
}
h1{
    text-align: center;
    margin-top: 80px;
}
footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    background:rgb(43, 46, 91);
    color: whitesmoke;
    width: 100%;
}
