form{
    background-color: rgba(145, 147, 162, 0.225);
    width: 300px;
    height: 350px;
    margin-top: 180px;
    padding: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: rgb(251, 233, 233);
}

h1{
    text-align: center;
    padding-top: 25px;
}
#in{
    color: black;
    background-color: rgba(255, 255, 0, 0.8);
    width: 90%;
    padding: 8px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: 1px solid ;
}
