* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(245, 247, 250, 1);
    padding: 30px;
}

#links{
    width: 95%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px;
    padding: 0px 20px;
    z-index: 1000;

}

#links a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;

}

#page-title {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(34, 34, 34, 1);
}

#voucher-table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    background-color: rgba(255, 255, 255, 1);
}

#voucher-table th {
    background-color: rgba(46, 134, 193, 1);
    color: rgba(255, 255, 255, 1);
    padding: 12px;
}

#voucher-table td {
    padding: 12px;
    text-align: center;
    color: rgba(44, 62, 80, 1);
}

#voucher-table tr:nth-child(even) {
    background-color: rgba(236, 240, 241, 1);
}

#voucher-table tr:hover {
    background-color: rgba(220, 230, 241, 1);
}

.delete-link {
    color: rgba(231, 76, 60, 1);
    font-weight: bold;
    text-decoration: none;
}

.delete-link:hover {
    color: rgba(192, 57, 43, 1);
}
